.actions {
    text-align: right;
    margin-right: 8px;
    margin-bottom: 16px;
}

.actions button {
   margin-left:8px;
}

.icon-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;   
}

.icon {
    font-size: 100px;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    font-size: 32pt;
    margin: 5px;
  }