.actions {
    text-align: right;
    margin-right: 8px;
    margin-bottom: 16px;
}

.actions button {
   margin-left:8px;
}

.spinner-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;   
}

.spinner {
    margin: 16px;
}