.actions {
    text-align: right;
    margin-right: 8px;
    margin-bottom: 16px;
}

.actions button {
   margin-left:8px;
}

.spinner-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;   
}

.spinner {
    margin: 16px;
}

.code-img {
    position: relative;
    width: 80%;
    margin: 0 10%;
    user-select: none;
}

.code-img img {
    width: 100%;
}

.code-img .code {
    position: absolute;
    text-align: right;
    bottom: 24px;
    right: 24px;
    font-size: 20px;
}

.code-img .code-debug {
    position: absolute;
    text-align: right;
    opacity: .5;
    top: 24px;
    left: 24px;
    font-size: 20px;
}