.actions {
    text-align: right;
    margin-right: 8px;
    margin-bottom: 16px;
}

.actions button {
   margin-left:8px;
}

.stream {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.stream canvas {
    width: 100%;
}